html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


/*FIM DO CSS RESET*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
}

header {
	position: fixed;
	width: 100%;
	height: 70px;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #EC362D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 37px;
	line-height: 43px;
	color: #FFFFFF;
	z-index: 4;
}

/*-------------------------------------STYLE DA TELA 2-------------------------------------*/

/*----começo do mobile----*/

.centralizada {
	display: flex;
	justify-content: center;
	width: 100%;
}

.tituloQuizz {
	height: 142px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 69px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	z-index: 3;
	;
}

.fundoQuizz img {
	height: 142px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 69px;
	z-index: 2;
	;
}



.fundo {
	display: block;
	background-color: #e5e5e5;
	padding-top: 212px;
}

.caixaDePerguntas {
	height: 676px;
	width: 760px;
	max-width: 760px;
	margin-top: 24px;
	margin-bottom: 4px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	word-break: normal;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.imagemDesempenho img {
	height: 273px;
	width: 364px;

}

.reiniciarQuizz {
	display: flex;
	height: 52px;
	width: 260px;
	border-radius: 15px;
	background: #EC362D;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 400;
	line-height: 25px;
	margin-top: 50px;
	margin-bottom: 14px;
	letter-spacing: 0em;
	color: #FFF5F4;
	align-items: center;
	justify-content: center;

}

.voltarHome {
	display: flex;
	height: 52px;
	width: 260px;
	border-radius: 15px;
	background: #FFF5F4;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 14px;
	letter-spacing: 0em;
	color: #818181;
	align-items: center;
	justify-content: center;

}



.textoDesempenho {
	height: 250px;
	width: 328px;
	margin-left: 21px;
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #484848
}




.fundoPergunta {
	height: 138px;
	width: 100%;
	max-width: 688px;
	padding: 20px;
	background-color: #434CA0;
	word-break: normal;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}


.alternativa {
	width: 330px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	flex-direction: column;
	margin-left: 12px;

	color: #000000;
}

.alternativa img {
	width: 330px;
	height: 175px;


}

/*----fim do mobile----*/


/*---------------------------------FIM DO STYLE DA TELA 2----------------------------------*/

/*-------------------------------------STYLE DA TELA 3-------------------------------------*/
.tela3 {
	width: 100%;
	margin-top: 140px;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

.caixaA {
	width: 600px;
	height: 256px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	align-items: center;
	margin-block: 27px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inputTela3 {
	margin-block: 4.5px;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	color: black;
	width: 564px;
	height: 46px;
	padding-left: 20px;
	outline: none;
}

.inputTela3::placeholder {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	color: #BABABA;
}

.prosseguir {
	margin-block: 58px;

	padding-inline: 40px;
	height: 54px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF5F4;
	background: #EC362D;
	border-radius: 15px;
	border: none;
}

.prosseguir2 {
	margin-top: 58px;

	padding-inline: 40px;
	height: 54px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF5F4;
	background: #EC362D;
	border-radius: 15px;
	border: none;
}

.prosseguir:hover {
	cursor: pointer;
}

.prosseguir2:hover {
	cursor: pointer;
}

.caixaPergunta {
	margin-top: 24px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	width: 600px;
	height: 780px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 17px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	transition: all linear 0.4s;
}

.preg:hover {
	cursor: pointer;
}

.caixaPergunta>* {
	margin-block: 7px;
}

.lastInputMarg {
	margin-bottom: 18px;
}



.edit {
	font-size: 26px;
}

.caixaFechada:hover {
	cursor: pointer;
}

.caixaN {
	width: 600px;
	height: 316px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 17px;
	transition: all linear 0.4s;
}

.caixaN>* {
	margin-block: 7px;
}

.caixaFechada {
	width: 600px;
	height: 74px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	align-items: center;
	margin-top: 22px;
	overflow: hidden;
}

.imgt3 {
	width: 500px;
	height: 266px;
	object-fit: cover;
	border-radius: 5px;
	z-index: 0;
	position: absolute;
}

.divimgt3 {
	position: relative;
	width: 500px;
	height: 266px;
	margin-top: 45px;
}

.gradient {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
	z-index: 1;
	width: 500px;
	height: 266px;
	position: absolute;
	border-radius: 5px;
}

.tt3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 27px;
	color: #FFFFFF;
	position: absolute;
	left: 24px;
	bottom: 24px;
	z-index: 2;
}

.home {
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #818181;
	background: none;
	border: none;
}

.home:hover {
	cursor: pointer;
}

.preg {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media (max-width:1099px) {

	.caixaA,
	.caixaPergunta,
	.caixaN,
	.caixaFechada,
	.divimgt3 {
		width: 100%;
	}

	.divimgt3 {
		padding-inline: 18px;
		justify-content: center;
	}
}

/*----------------------------------FIM DO STYLE DA TELA 3---------------------------------------*/



/*----------------------------------STYLE DA TELA 1---------------------------------------*/


.motherbox {
	display: flex;
	width: 100%;
	margin-top: 70px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding-top: 10px;
}

.containerCriar {
	width: 1050px;
	height: 181px;
	margin-top: 70px;
	border: 1px dashed #D4D4D4;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.quizzUsuario {
	width: 1050px;

	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 70px;
}

.todosUsuario {
	display: flex;
	height: 50px;
	align-items: center;
}

.icone {
	position: relative;
	margin-left: 10px;
	margin-bottom: 35px;
}

.bola {
	position: absolute;
}

.cruz {
	position: absolute;
	left: 9px;
	top: 8px;
}

.mensagemCriar {
	width: 250px;
	font-size: 20px;
	font-weight: 400;
	color: #B9B9B9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.criarQuizz {
	width: 151px;
	height: 40px;
	font-size: 21px;
	font-weight: 400;
	color: #EC362D;
	border: 1px dashed #EC362D;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.criarQuizz:hover {
	cursor: pointer;
}

.quizzAPI {
	width: 1050px;
	margin-top: 70px;
}

h5 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.containerAPI {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.containerUsuario {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.imagemQuizz {
	width: 340px;
	height: 181px;
	border-radius: 5px;
}

.inicioQuizz {
	position: relative;
	overflow: hidden;
}

h4 {
	font-size: 19px;
	font-weight: 400;
	color: #FFFFFF;
	position: absolute;
	left: 10px;
	bottom: 20px;
	z-index: 1;
}

.gradientTela1 {
	position: absolute;
	width: 340px;
	height: 181px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #FFFFFF00 0%, #00000080 50%, #000000 100%);
	left: 0;
	bottom: 3px;
	z-index: 0;
}

.inicioQuizz:hover {
	cursor: pointer;
}

.icone:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

@media (max-width: 1099px) {


	.containerCriar {
		width: 340px;
		height: 181px;
	}

	.quizzUsuario {
		width: 340px;
	}

	.todosUsuario {
		display: flex;
		justify-content: space-between;

	}

	.icone {
		padding-right: 25px;
	}

	.quizzAPI {
		width: 340px;
	}

}

.hidden {
	display: none;
}